{% extends "base.html" %}

{% block content %}
<h1>Add Student</h1>

<form method="POST">

    <p>Student ID:<br>
    <input type="text" name="student_id" required></p>

    <p>Full Name:<br>
    <input type="text" name="full_name" required></p>

    <p>Email:<br>
    <input type="email" name="email"></p>

    <p>Phone:<br>
    <input type="text" name="phone"></p>

    <p>Department:<br>
    <input type="text" name="department" required></p>

    <p>Academic Year:<br>
    <input type="text" name="academic_year" required></p>

    <p>Status:<br>
    <select name="status">
        <option value="Active">Active</option>
        <option value="Graduated">Graduated</option>
        <option value="On Leave">On Leave</option>
    </select></p>

    <button type="submit">Save Student</button>

</form>

{% endblock %}