<!DOCTYPE html>
<html>
<head>
    
<title>StudentInfoLite</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h2>Student Information System</h2>
    <a href="{{ url_for('add_student') }}">Add Student</a>
    <a href="{{ url_for('view_students') }}">View Students</a>
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}
{% endblock %}

</body>
</html>